{% extends "base.html" %}

{% block title %} Select Mood {% endblock %}

{% block content %}

<div class="select-container">
    <h2>What Mood Do You Want to Feel? 🎭</h2>
    <form method="POST" action="{{url_for('results')}}">
        <div class="emoji-mood-selection">
            <input type="hidden" name="mood" id="selected-mood" required>
            <button type="button" class="emoji-button" data-mood="happy">😊</button>
            <button type="button" class="emoji-button" data-mood="sad">😢</button>
            <button type="button" class="emoji-button" data-mood="fear">😱</button>
            <button type="button" class="emoji-button" data-mood="surprised">🤩</button>
        </div>
        <button type="submit" class="submit-button">Get Recommendations 🍿</button>
    </form>
</div>

<form action="{{ url_for('home') }}">
    <button type="submit" class="back-button">← Back to Homepage</button>
</form>
<script src="{{ url_for('static', filename='js/select_mood.js') }}"></script>
{% endblock %}